body {
  height: 100vh;
  background-color: #CBEAEF;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #505050;
  margin: 0;
}

header{
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;

  .name{
    margin-left: 2%;
    width: 50%;
  
    .cls-1 {
      fill: #1d1d1b;
    }
  }
}

.main_page{
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;

  .gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3%;

    h2{
      width: 90%;
      margin-left: 3%;
      font-family: "Original Surfer", serif;
      font-weight: 500;
      font-size: 3em;
    }
  
    .picture{
      width: 40%;
      margin: 1%;
      padding: 2%;
      background-color: #C26700;
      border-radius: 15px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

      img{
        width: 100%;
        border-radius: 15px;
      }

      p{
        margin-top: 3%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }
  }
}

footer{
  width: 80%;
  margin-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

  .logotype{
    margin-left: 2%;
    margin-top: 2%;
    width: 8em;
  
    #cls-2-group_initials {
      fill: #1d1d1b;
    }

    .cls-2 {
      stroke: #1d1d1b;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }
}